
div {
    border: 1px red solid;
}

#zc {
    height: 2000px;
    width: 100%;
}

#tz {
    height: 190px;
    width: 100%;
}

#t1 {
    height: 35px;
    width: 100%;
}

#t11 {
    width: 70%;
    height: 100%;
    margin: auto;
    float: left;

}

#t12 {
    width: 30%;
    height: 100%;
    float: left;

}
/*控制头部内部头部边框的左边小文档边框*/
#t13 {
    width: 40px;
    height: 100%;
    text-align: center;
    float: left;
}
#t133{
    width: 60%;
    height: 100%;
    float:left;
}
#t14 {
    width: 70%;
    height: 100%;
    float: left;
}

#t2 {
    width: 100%;
    height: 125px;

}

#d1 {
    width: 100%;
    height: 30px;

}

#jz {
    height: 600px;
    width: 70%;

}

#zj {
    height: 600px;
}


